/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Navigation Bar */
nav {
  background-color: rgb(29, 166, 166); /* blue background */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo .logo-image {
  height: 100px; /* Adjust based on the logo size */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}


.homeIntro{
  display: flex;
  justify-content: center;
  height:100vh;
  gap: 2cm;
}
.homeIntro p{
  display: block;
  font-size: 18px;
  padding: 20px;
}
.homeIntro button{
  margin: 10px;
  border: none;
  background-color: aqua;
  color: #333;
  border-radius: 5px;
}
.homeIntro img{
  margin: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
 
}
/*Providers content*/
.providersContent p{
  font-size: 18px;
  padding: 20px;
}
/*Patient content*/
.patientContent{
  display: flex;
  justify-content: center;
  height:100vh;
  margin: 0;
  gap: 2cm;
}

.patientContent p{
  font-size: 18px;
  padding: 20px;
}
.patientContent img{
  margin-right: 60px;
}
/*Appointment Content*/
.appointmentContent p{
  font-size: 18px;
  padding: 20px;
}
/*Image card*/
.image-container {
  overflow: hidden; /* Ensures the image doesnt overflow the container during animation*/
}

.image-container img{
  
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1); /*Enlarges the image slightly*/
}

/* Payment Content */
.paymentContent {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paymentContent h1,
.paymentContent h3 {
  text-align: center;
  color: #333;
}

.paymentContent p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

/* Form Styles */
select,
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Copay Section */
.paymentContent select {
  display: inline-block;
  width: auto;
  padding: 10px;
}

.paymentContent p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Stripe Card Element */
.StripeElement {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

/* Other Payment Methods */
.paymentContent ul {
  list-style: none;
  padding: 0;
}

.paymentContent ul li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Page Headings */
h1, h2, h3 {
  color: #019fde;
  text-align: center;
  margin: 20px 0;
}
.custom-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 0.3cm;
}

/* Forms */
form {
  max-width: 400px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

form input, form select, form textarea, form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #328aad;
  outline: none;
}

form button {
  background-color: #328aad;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #328aad;
}

/* Pages Content */
.container {
  padding: 20px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  max-width: 900px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Links */
a {
  color: #328aad;
}

a:hover {
  color: #328aad;
  text-decoration: underline;
}

/* Appointment Details Page */
.appointment-details {
  padding: 20px;
  line-height: 1.6;
}

/* Tables (if needed for appointments or data display) */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #328aad;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* Footer (optional) */
.footerContent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer h3{
  color: #f2f2f2;
}
footer {
  text-align: center;
  /*padding: 40px 20px;*/
  background-color: #328aad;
  color: white;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
  /*line-height: 1.5;*/
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h3{
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #61dafb;
}

.map {
  width: 100%;
  max-width: 200px;
  height: 100px;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons img{
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons img:hover{
  transform: scale(1.1);
}

.footer-bottom{
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 0.9em;
}

.footer-link{
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover{
  color: #f4a261;
}

/* Media Queries */

/* For screens smaller than 768px (Small Tablets and Mobile Phones) */
@media screen and (max-width: 1200px) {

  nav {
    padding: 10px;
    display: none;
  }

  .navbar-logo .logo-image {
    height: 60px;
  }
  .menu {
    display: block;
    flex-direction: column;
    position: static;
    background: none;
    padding: 0;
  }
  
  .menu.open {
    display: flex;
  }
  
  .toggle-button{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  .toggle-button .bar{
    width: 25px;
    height: 3px;
    
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 5px 0;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active li {
    margin: 15px 0;
    text-align: center;
  }

  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .homeIntro, .patientContent{
    flex-direction: column;
    height: auto;
    gap: 1cm;
  }
  .homeIntro img, .patientContent img {
    align-items: center;
    margin: 10px 0;
    max-width: 90%;
  }
  .providersContent p, .appointmentContent p,
  .homeIntro p, .patientContent p {
    display: block;
    font-size: 16px;
    padding: 15px;
  }
  .custom-card {
    margin: 10px;
    display: block;
  }
  .footerContent {
    flex-direction: column;
    text-align: center;
  }
  .social-icons {
    margin: 20px 0;
  }

  .map {
    width: 100%;
    max-width: 300px;
  }
}

/*Media queries for mobile scree up to 768px*/
@media screen and (max-width: 767px) {
  body {
    padding: 10px;
  }
  .navbar ul li {
    display: flex;
    padding: 10px;
  }
  .menu{
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .menu.open {
    display: flex; /*Show the menu when its open*/
    pointer-events: auto;
    transform: translateY(0);

  }
  .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #1DA6A6;
  }
  .menu ul li {
    margin: 10px 0;
    
  }
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
  }
  .toggle-button {
    display: flex; /*Show the hamburger icon*/
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .homeIntro img .patientContent img {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
  h1 h2 h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .homeIntro p,
  .patientContent p,
  .providersContent p,
  .appointmentContent p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 10px;
  }
  .navbar-logo .logo-image {
    height: 80px;
    font-size: 80px;
    float: right;
  }
  .image-container {
    flex-direction: column;
    gap: 2cm; /*Adjust spacing between cards*/
    align-items: center; /*center align cards*/
    padding: 10px;
  }
  .image-container .card{
    width: 100%; /*Full width for each card*/
    max-width: 90%; /*to avoid overflowing*/
    
  }
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
  }
  .image-container h2, .image-container p {
    font-size: 1rem; 
    text-align: center;
    padding: 5px;
  }
  .patientContent {
    flex-direction: column;
    gap: 1cm;
  }
  .container, form {
    width: 90%;
    padding: 10px
  }
  table th, table td {
    font-size: 12px;
    padding: 10px;
    text-align: left;
  }
  table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
  }
  footer {
    padding: 20px;
    text-align: center;

  }
  .footerContent {
    display: block;
    gap: 10px;
  }
  .social-icons img {
    width: 25px;
    height: 25px;
  }

}
/* Media Queries for Small Mobile Phones*/
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  h1, h2, h3 {
    font-size: 1.5em;
  }

  nav ul li a {
    font-size: 16px;
  }
  button {
    padding: 8px;
    font-size: 14px;
  }
  .navbar-logo .logo-image {
    margin-bottom: 1rem;
    height: 40px;
  }
  
  .image-container{
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    gap: 1rem;
  }
  .image-container::-webkit-scrollbar {
    height: 6px;
  }
  .image-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  .image-container::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  .homeIntro p,
  .patientContent p,
  .providersContent p,
  .appointmentContent p {
    display: block;
    font-size: 14px;
    padding: 10px;
  }
  form {
    padding: 15px;
  }
  .custom-card {
    padding: 15px;
  }
  .footer-section h3{
    font-size: 1.2em;
  }
  .map {
    max-width: 100px;
  }
}
@media screen and (max-width: 300px) {
  body {
    padding: 5px;
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 3cm;
  }
  .navbar ul li {
    padding: 8px;
  }
  .menu {
    width: 100%;
    padding: 5px;
  }
  .menu ul li a {
    font-size: 14px;
  }
  .toggle-button {
    width: 25px;
    height: 20px;
    
  }
  .bar {
    height: 2px;
    width: 100%;
    background-color: #333;
  }
  .homeIntro img, .patientContent img {
    width: 95%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
  }

  h1, h2, h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .homeIntro p, .patientContent p, 
  .providersContent p, .appointmentContent p {
    font-size: 16px;
    margin: 0 8px;
  }
  .navbar-logo .logo-image {
    height: 50px;
    float: none;
    margin: 0 auto;
    display: block;
  }
  .image-container {
    gap: 1.5cm;
    padding: 5px;
  }
  .image-container .card {
    max-width: 95%;
    margin: 5px auto;
  }
  .image-container img {
    width: 100%;
    border-radius: 5px;
  }
  .image-container h2, .image-container p {
    font-size: 0.9rem;
    padding: 4px;
  }
  .patientContent {
    gap: 0.8cm;
  }
  .container, form{
    width: 95%;
    padding: 5px;
  }
  
  table th, table td{
    font-size: 10px;
    padding: 5px;
  }
  table{
    font-size: 10px;
  }
  footer {
    padding: 10px;
    font-size: 12px;
  }
  .footerContent {
    gap: 5px;
  }
  .social-icons img {
    width: 20px;
    height: 20px;
  }
}